body {
    margin: 0;
}

.bg-container {
    background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat ;
    background-size: 300px, 320px;
    background-color: hsl(240, 78%, 98%);
    min-height: 100vh;
    /* background-size: cover; */
    padding: 18px;
    font-family: 'Montserrat', sans-serif;

}

.main-heading {
    color: hsl(220, 13%, 13%);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.recharge-plans {
    color: #5b5b70;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
}

.plans-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.butoon-click {
    height: 24px;
    width: 52px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 20px;
}

.price-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 376px) {
    .price-details-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bg-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

.price-details-card {
    background-color: #ffffff;
    width: 300px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
    margin-right: 12px;
}

.price-details-card:hover {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

}

.plan-type {
    color: hsl(230, 9%, 42%);
    margin-bottom: 0px;
}

.price-details-card:hover .plan-type {
    color: #ffffff;
}

.amount {
    font-size: 40px;
    margin: 0px;
    font-weight: 800;
    color: hsl(230, 13%, 32%);
}

.price-details-card:hover .amount {
    color: #ffffff;
}

.doller {
    font-size: 20px;
    color: hsl(230, 13%, 32%);
}

.price-details-card:hover .doller {
    color: #ffffff;
}

.price-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line {
    width: 80%;
    border-color: hsl(230, 9%, 86%);
    border-style: solid;
    margin: 0px;
}

.package-details {
    color: hsl(230, 13%, 32%);
    font-size: 14px;
}

.price-details-card:hover .package-details {
    color: #ffffff;
}

.button {
    margin: 18px;
    width: 84%;
    height: 40px;
    background-color: hsl(237, 63%, 64%);
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    border-radius: 6px;
}

.price-details-card:hover .button {
    background-color: #ffffff;
    color: hsl(237, 63%, 64%);
}



.button-cord {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background-color: #ffffff;
}